:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: beige;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header{
  font-size: 3em;
  color: black;
}
h4 {
  color: black;
  font-size: 0.95em;
}
h2{
  color: black;
  font-size: 1.5em;
}

button {
  border-radius: 2%;
  border: 1.5px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Post-container{
  display: flex;
  flex-direction: column;
}
label{
  text-align: center;
}
.Description{
  color: black;
}
.Title{
  color: black;
}
.Price{
  color: black;
}
.Location{
  color: black;
}
.Will-Deliver{
  color: black;
}
.register-container{
  display: flex;
  flex-direction: column;
}
.Login-Username{
  color: black;
}
.Login-Pass{
  color: black;
}
.username{
  color: black;
}
.password{
  color: black;
}
.confirm{
  color: black;
}
label{
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  border: none;
  border-radius: 10px;
}
.Post-container{
  display: flex;
  flex-direction: column;
}




